.logo {
    height:30px;
    width:106px;
    background-image:url('images/icons.png');    
    background-position: 292px -900px;
}

.gray{
    background-color: #fbfbfb;
}

.padding{
    padding-top: 10px;
    padding-bottom: 10px;
}

.no-padding{
    padding-right: 0px;
    padding-left: 2px;
}

.border{
    border-bottom: 2px solid #dbdbdb;
}

.ig-icon {
    height:26px;
    width:26px;
    background-image:url('images/icons.png');
}

.ig-icon-camera {
    background-position: 260px -972px;
}

.ig-icon-direct {
    background-position: 213px -928px;
}

.ig-icon-igtv {
    background-position: 260px -998px;
}

.ig-icon-inicio {
    background-position: 340px -998px;
}

.ig-icon-pesquisar {
    background-position: 236px -1024px;
}

.ig-icon-adicionar-foto {
    background-position: 25px -830px;
}

.ig-icon-likes {
    background-position: 53px -974px;
}

.ig-icon-salvar{
    background-position: 286px -1024px;
}

.ig-icon-comentar{
    background-position: 117px -854px;
}

.ig-icon-dropdown {
    background-position: 25px -802px;
}

.ig-icon-voltar {
    background-position: 80px -998px;
}

.ig-icon-video {
    background-position: 314px -974px
}

.ig-icon-todas-fotos {
    background-position: 25px -933px;
}

.ig-icon-fotos-marcadas {
    background-position: 210px -998px;
}

.badge-danger{
    background-color: #ed4956;
}

.ig-input-pesquisa{
    background-color: #efefef;
    border: none;
    border-radius: 12px;
}

.ig-btn-primary{
    color: #262626;
    background-color: white;
    border: 2px solid #dbdbdb;
    border-radius: 8px;
}

b{
    color: #333333;
}

span{
    color: #999999;
    font-size: 12px;
}

label{
    margin-bottom: 0em;
}